<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks dos Usuários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 800px;
        }
        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="/app/feedback/create" class="btn btn-success btn-sm" role="button">Adicionar</a>
    <h1 class="text-center">Feedbacks Recebidos</h1>
    <p class="text-info"> {{message}}</p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Feedback</th>
            <th scope="col" class="actions-column">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{feedback.nome| e }}</td>
            <td>{{feedback.email| e }}</td>
            <td>{{feedback.feedback| e }}</td>
            <td class="actions-column">
                <a href="/app/feedback/view?id={{ feedback.id }}" class="btn btn-info btn-sm" role="button">Visualizar</a>
                <a href="/app/feedback/delete?id={{ feedback.id }}" class="btn btn-danger btn-sm" role="button">Apagar</a>
                <a href="/app/feedback/update?id={{ feedback.id }}" class="btn btn-success btn-sm" role="button">Atualizar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>